*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: rgb(89,46,32);
    background: linear-gradient(90deg, rgba(89,46,32,1) 0%, rgba(191,72,72,1) 50%, rgba(164,127,73,1) 100%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.400);
    padding-left: 25px; padding-right: 25px;
    border: none;
    border-radius: 7px;
}
form div{
    width: 100%;
}
form input{
    background: none;
    border: none;
    border-bottom: 1px solid black;
    height: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 20px;
    padding-left: 5px;
}
input:focus, textarea:focus, select:focus{
    outline: none;
}
#consumo{
    width: 75px;
}
#primeiroNome{
    width: 150px;
}
#rua{
    width: 300px;
}
#numeroCasa{
    width: 35px;
}

.subtitulo{
    margin-top: 15px;
    font-weight: bold;
}

form button{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: none;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 7px;
    border: none;
    border-radius: 7px;
    transition: .7s;
}
form button:hover{
    background-color: rgba(255, 255, 255, 0.400);
}